.hero{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}

.h2{
    position: relative;
    color: white;
    margin-left: 3em;
    top: 2em;
}
@media screen and (max-width: 600px) {
    .hero{
        height: 257px;
    }
}
    
